@import '../style/variable.scss';

$prefix: y-btn;
@mixin button-size($padding-top, $padding-left, $font-size, $line-height, $border-radius) {
  padding: $padding-top $padding-left;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

.#{$prefix} {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-weight: $font-weight;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  outline: 0;
  & + & {
    margin-left: 10px;
  }
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
}
